/*  GENERAL STYLES  */
html,
body {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

body {
  background-size: cover;
  font-smoothing: grayscale;
  /* background: #1E1A1E; */
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
}


/*  HEADER STYLES  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 3.125em;
  z-index: 50;
  transition: transform .3s ease-out;
}

.header .primary-nav-wrap {
  overflow: hidden;
}

.header .site-logo {
  font-size: 16px;
  margin: 0;
  float: left;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
}



.header a {
  text-transform: uppercase;
  color: #1E1A1E;
  /* color: white; */
  text-decoration: none;
  font-size: .75em;
  line-height: 1.33333em;
  letter-spacing: .15em;
  position: relative;
  display: block;
  padding: 6px 0;
  font-style: normal;
  font-weight: 700;
}



/*  MENU ITEMS STYLE  */
.header .primary-nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header .primary-nav li:first-child {
  margin-left: 0;
}

.header .primary-nav li {
  display: inline;
  margin: 0 0 0 30px;
  top: 25%;
  margin-top: 35px;
}

.header .primary-nav li:last-child {
  margin-right: 0;
}

/* BURGER BAR NAV ICON */
.burger {
  position: relative;
  float: right;
  z-index: 2;
}

.burger-menu-1,
.burger-menu-2,
.burger-menu-3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  cursor: pointer;
  transition: 0.4s;
}

.change .burger-menu-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #818181;
}

.change .burger-menu-2 {
  opacity: 0;
}

.change .burger-menu-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #818181;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.6s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  font-family: 'Noto Sans SC', sans-serif;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .bttn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .bttn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* ANIMATED WORDS/ICONS ON HOME PAGE */
@keyframes extendOut {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }

}
.name-home {
  width: 0%;
  max-width: 754px;
  height: 300px;
  position: absolute;
  margin: 0 auto;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* animation: extendOut 10s; */
  /* animation-fill-mode: forwards; */
  transition: width 5s;
  text-shadow: 20px 20px 20px gray;


}

.name-home:hover {
  width: 70%;

}

/* ABOUT & DESCRIPTION PART */
.name-home .name-part {
  font-size: 6em;
  font-family: 'Noto Sans SC', sans-serif;
  position: fixed;
  margin: 0 auto;
  text-align: center;
  top: 0;
  left: 0;
  /* height: 100vh; */
}




.name-part.p {
  width: 5.43%;
  left: 0;
}

.name-part.y {
  width: 8.75%;
  left: 20%;
}

.name-part.x {
  width: 8.75%;
  left: 40%;
}

.name-part.i {
  width: 8.75%;
  left: 60%;
}

.name-part.s {
  width: 8.75%;
  left: 80%;
}

@media (max-width: 600px) {
  .name-home {
    font-size: 0.75em;
  }
}


/* ABOUT SECTION STYLING */
.about-sec {
  /* background-color: gray; */
  padding: 1em;
  margin-left: 0;
  margin-right: 0;
}
