
/*  GENERAL STYLES  */

html,
body {
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

body {
  background-size: cover;
  /* background: #1E1A1E; */
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 2;
}

.container {
  overflow: hidden;
}

/*  HEADER STYLES  */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 3.125em;
  z-index: 50;
  transition: transform .3s ease-out;
}

.header
.primary-nav-wrap {
  overflow: hidden;
}

.header
.site-logo {
  font-size: 16px;
  margin: 0;
  float: left;
  font-family: 'Noto Sans SC', sans-serif;
  font-weight: 400;
}

.header a {
  text-transform: uppercase;
  color: #1E1A1E;
  /* color: white; */
  text-decoration: none;
  font-size: 1em;
  line-height: 1.33333em;
  letter-spacing: .15em;
  position: relative;
  display: block;
  padding: 6px 0;
  font-style: normal;
  font-weight: 700;
}

/* CODE BACKGROUND */

/* #code-bg-wrap {
  background-image: url('/img/tech.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  filter: blur(6px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
} */


/*  MENU ITEMS STYLE  */

.header
.primary-nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header
.primary-nav li:first-child {
  margin-left: 0;
}

.header
.primary-nav li {
  display: inline-block;
  margin: 0 0 0 30px;
}

.header
.primary-nav li:last-child {
  margin-right: 0;
}

/* BURGER BAR NAV ICON */

.burger {
  float: right;
}

.burger-menu-1,
.burger-menu-2,
.burger-menu-3 {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  cursor: pointer;
  transition: 0.4s;
}

.change .burger-menu-1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .burger-menu-2 {
  opacity: 0;
}

.change .burger-menu-3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);

}

.overlay {
  height: 0%;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .bttn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }

  .overlay .bttn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/* BARBA CONTENT AND STYLING */

.barba-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 2;
}

.home-page {
  width: 80%;
  max-width: 754px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

/* ANIMATED WORDS/ICONS ON HOME PAGE */

.animated-home {
  width: 80%;
  max-width: 754px;
  height: 300px;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.animated-home .part.active {
  opacity: 1;
}

.animated-home .part {
  /* position: absolute; */
  /* height: 100%; */
  text-align: center;
  top: 0;
  background: no-repeat transparent 50% 50%;
  /* background-size: contain; */
  -webkit-transition: opacity .4s ease-out, transform .3s ease-out;
  transition: opacity .4s ease-out, transform .3s ease-out;

}

.animated-home .part.part-1 {
  width: 70%;
  left: 0;
  /* content: "Web Devloper"; */

}

.animated-home .part.part-2 {
  width: 20%;
  right: 0;
}

/* ABOUT & DESCRIPTION PART */

.animated-home .about-part {
  /* position: absolute; */
  font-size: 3em;
  font-family: 'Noto Sans SC', sans-serif;
  /* color: white; */
  margin: 0 auto;
  text-align: center;
  top: 0;
  left: 0;
}

.animated-home .desc-part {
  /* position: absolute; */
  font-size: 1em;
  font-family: 'Noto Sans SC', sans-serif;
  /* color: white; */
  margin: 0 auto;
  text-align: center;
  top: 0;
  left: 0;
}

.fas {
  /* color: white; */
}


.test-button {
  margin: 0 auto;
  text-align: center;

}

.btn {
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 20px;

}
