/* $primary-color: color: #1E1A1E; */

html, body {
  /* height: 100%; */
  /* font-size: 1em */

}

.home-page {
  display: inline-block;
  text-align: justify;
  position: absolute;
  overflow: auto;
  width: 100%;
  height: 100%;
  z-index: 2;
}


.random-text {

  padding: 1.25em;
  text-align: justify;
  position: relative;
  color: #C6E08C;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 2em;
  margin: 0 auto;
  width: 100%;
  word-wrap: break-word;
  letter-spacing: 10px;
}

.text, .pyxis {
  /* clear: none; */
  float: left;
  font-weight: 600;
  display: block;
  color: #1E1A1E;
  text-shadow: 0px 7px 4px rgba(150, 150, 150, 1);
  text-shadow: 5px 7px 4px rgba(150, 150, 150, 1);
}


div a,
div a:hover,
.enter {
  float: right;
  text-align: right;
  color: #1E1A1E !important;
  text-decoration: none;

}

div .producer {
  text-align: right !important;
}

.test-button {
    position: fixed;
}

span {
  width: 100%;
  background-color: white;
  display: inline-block;
  height: 1em;
}
